@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
  background: #E5E5E5;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__nav {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__post {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header__post-img {
  position: absolute;
  left: 0;
  z-index: -1;
}

.header__post-title {
  color: white;
  width: 140px;
  line-height: 100%;
  font-size: 24px;
}

#menu {
  position: absolute;
  opacity: 0;
}

#menu:checked~.header__content {
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0%);
}

.menu {
  font-size: 40px;
}

.header__content {
  width: 1000px;
  height: 420px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(-200%);
  opacity: 1;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.islom {

}
.islom__left-content{
  width: 340px;
  background: 
  #FFFFFF;
}

.islom__time{
  width: 40px;
  font-size: 15px;
  line-height: 15px;
  color: #1F1E1D;
  display: block;
  

}
.islom__text{
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  color: #524F4A;
  padding-left: 10px;
  padding-right: 5px;
}
.gold{
color: #EC9605;
font-size: 13px;
font-weight: 400;
}



.zayniddin {}


.akbar {}

.shox {}